.search {
    width: max-content;
    display: flex;
    height: 1.75rem;
}
.search form {
    display: flex;
}
.search input {
    background-color: #FFF;
    border-radius: var(--rounded-border) 0 0rem var(--rounded-border);
    border: 0.125rem solid #0003;
    text-align: center;
    width: 100%;
}
.search input:focus{
    background-color: #0002;
    outline: 0.15rem solid var(--accent);
}
.search input:focus + .sib {
    outline: 0.15rem solid var(--accent);
}

.search button {
    padding: 0 0.15rem;
    color: #000;
    background-color: #FFF;
    border-radius: 0 var(--rounded-border) var(--rounded-border) 0;
    border: 0.125rem solid #0003;
    border-left: 0;
}