.posts-page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    /* border: 1px solid #000; */
    /* overflow: hidden; */
    position: relative;
}
.posts-page .page-title {
    text-align: center;
    text-shadow: 0.1rem 0.1rem var(--accent);
}
.posts {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    /* overflow: hidden auto; */
}

.left-posts, .right-posts {
    flex: calc(50% - 0.25rem) 1 1;
        
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.posts .row-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.posts-page .posts-view {
    position: absolute;
    top: 0.15rem;
    right: 0.5rem;
}
.posts-to-top {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    opacity: 0.75;
}
.posts-page .posts-pagination {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.posts-page .posts-pagination .btn {
    padding: 0.5rem 1rem;
}