.posts-page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}
.posts {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    /* gap: 0.5rem; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.left-posts, .right-posts {
    padding: 0.25rem 0.35rem;
    box-shadow: inset 0 0 0.75rem #000C;
    border: 1px solid #0004;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow-y: auto;
    max-width: 100%;
    overflow: auto;
    border-radius: 0;
}
