header {
    padding: 0.5rem 0.75rem;
    border-radius: var(--rounded-border);
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    box-shadow: 0 0 0.5rem #0009;
}
@media screen and (max-width: 500px) {
    header {
      flex-direction: column;
      justify-content: space-around;
      border: 0;
      border-bottom: 0.1rem solid #000;
      border-radius: 0%;
      gap: 0.45rem;
    }
}

header a {
    color: #000;
    text-decoration: none;
}

header .logo a {
    font-size: 145%;
    font-size: 200%;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem #FFF, 0.15rem 0.15rem #000;
    display: flex;
    opacity: 0.75;
}
header .logo a:hover {
    scale: 1.15;
}
.logo .logo-span-2 {
    rotate: -20deg;
}
.logo .logo-span:nth-child(even) {
    animation: animated-text 1s 0.5s linear infinite;
}
.logo .logo-span:nth-child(odd) {
    animation: animated-text 1s linear infinite;
}

@keyframes animated-text {
    0% {}
    50% {
        color: var(--accent);
    }
    100% {}
}

header nav {
    display: flex;
    gap: 0.35rem;
    align-items: center;
}