:root {
  --rounded-border: 0.3rem;
  --accent: #0de;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: var(--rounded-border);
  scroll-behavior: smooth;
  transition: all 0.75s;
}
#root {
  margin: 0 auto;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  max-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}
main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}
p {
  max-width: 100%;
  text-wrap: wrap;
}
a {
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
}

.head-info {
  background-color: #0001;
  padding: 0.25rem 0.5rem;
  gap: 0 1rem;
  border-radius: 0%;
  border-bottom: 1px solid var(--accent);
}
@media screen and (max-width: 500px) {
  .head-info {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.btn {
  width: max-content;
  padding: 0.2rem 0.35rem;

  background-color: #FFF;
  color: #000;
  text-decoration: none;

  border: 0.1rem solid var(--accent);
  border-radius: var(--rounded-border);
  box-shadow: 0 0 0.5rem #0009, 0.125rem 0.125rem 0 #0006;
  
  transition: none;
}
.btn:active {
  box-shadow:  0;
  scale: 0.9;
}